@{
    ViewData["Title"] = "Animes";
}

<div class="text-center">

    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-warning" role="button" asp-controller="Anime" asp-action="Criar">Adicionar Anime</a>
    </div>
    <br />

    <h1 class="display-4">Lista De Animes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Anime Preferido</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Otavio</td>
                <td>otavio@gmail.com</td>
                <td>Attack On Titan</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Anime" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Anime" asp-action="ExcluirConfirmacao">Excluir</a>
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Kayo</td>
                <td>kayo@gmail.com</td>
                <td>Naruto</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Anime" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Anime" asp-action="ExcluirConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Vini</td>
                <td>vini@gmail.com</td>
                <td>One Piece</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Anime" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Anime" asp-action="ExcluirConfirmacao">Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

